[submodule "modules/pytorch-mask_rcnn"]
	path = modules/pytorch_mask_rcnn
	url = https://github.com/multimodallearning/pytorch-mask-rcnn.git
[submodule "modules/cocoapi"]
	path = modules/cocoapi
	url = https://github.com/cocodataset/cocoapi.git
