[submodule "modules/pytorch-mask_rcnn"]
	path = modules/pytorch-mask_rcnn
	url = git@github.com:multimodallearning/pytorch-mask-rcnn.git
[submodule "modules/cocoapi"]
	path = modules/cocoapi
	url = git@github.com:cocodataset/cocoapi.git
